@font-face {
    font-family: "TelefonicaWeb-Regular";
    src        : url('./fonts/TelefonicaWeb-Regular.woff');
}

@font-face {
    font-family: "TelefonicaWeb-Light";
    src        : url('./fonts/TelefonicaWeb-Light.woff');
}

@font-face {
    font-family: "TelefonicaWeb-ExtraLight";
    src        : url('./fonts/TelefonicaWeb-ExtraLight.woff');
}

@font-face {
    font-family: "dotmovistar";
    src        : url('./fonts/dotmovistar-font.woff');
}

body {
    margin     : 0;
    padding    : 0.1em;
    box-sizing : border-box;
    font-family: "TelefonicaWeb-Light", sans-serif;
    cursor     : default;
    overflow-x : hidden;
}

nav {
    display        : flex;
    justify-content: space-around;
}

nav ul li {
    list-style : none;
    font-family: "TelefonicaWeb-Regular";

}

nav img:nth-child(2) {
    display: none;
}

.nav-menu {
    position     : fixed;
    top          : -16px;
    left         : 0;
    height       : 13vh;
    width        : 44.5vh;
    transform    : translateX(-100%);
    transition   : transform 0.3s ease-in-out;
    background   : rgb(19, 141, 186);
    color        : #fff;
    border-radius: 0px 0px 50px 15px;
}

.nav-menu.visible {
    transform: translateX(0);
}

.sub-menu {
    margin-top    : .5em;
    display       : flex;
    flex-direction: column;
}

.icon-submenu {
    display        : flex;
    justify-content: space-around;
    margin-top     : .5em;
}

.icon-submenu i {
    font-size: 20px
}

.btn-menu {
    margin-top: .5em;
    font-size : 1.5em;
    border    : none;
    background: none;
    cursor    : pointer;
}

.btn-menu-close {
    font-size : 1.5em;
    border    : none;
    background: none;
    cursor    : pointer;
    color     : #fff;
}

.btn-Movistar {
    width        : 7em;
    height       : 2.5em;
    border       : none;
    background   : #00A9E0;
    border-radius: 3.5px;
    color        : #fff;
}

/* Section Banner */

.banner {
    background                : #1daadf;
    background-image          : url("./assets/Diseño.png");
    background-repeat         : no-repeat;
    background-size           : 80vh;
    height                    : 34vh;
    border-bottom-left-radius : 350px 100px;
    border-bottom-right-radius: 350px 100px;
}

.banner .banner-title {
    font-family    : "TelefonicaWeb-ExtraLight";
    color          : #fff;
    font-size      : 30px;
    display        : flex;
    justify-content: center;
    margin         : 1em auto;
    text-align     : center;

}

.promo-plan {
    width   : 6em;
    position: absolute;
    right   : 2.2em;
    top     : 17.2em;
}

.privacy-pol .privacy-up,
.privacy-pol .privacy-up a {
    color: #fff;
}

.container-change-privacy {
    margin-top: .5em;
}

.principal-text {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    font-family   : "TelefonicaWeb-Light";
    color         : #5d5e5f;
    text-align    : center;
}


/* Section Plans */

.plans {
    display       : flex;
    flex-direction: column;
    padding       : 2em;
    align-items   : center;
    gap           : 1em;
    text-align    : center;
}

.current-plan {
    font-family     : "TelefonicaWeb-Light";
    width           : 35vh;
    height          : 50%;
    background-color: #86888C;
    padding         : 1em;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    gap             : 2em;
    color           : #fff;
    border-radius   : 3px;
}

.number {
    font-size    : 3em;
    margin-bottom: .5em;
}

.text-plan {
    font-size: 1.3em;
}

.you-new-plan {
    background    : #1CAADF;
    display       : flex;
    flex-direction: column;
    border-radius : 3px;
    padding       : 1em;
    color         : #fff;
    gap           : 1em;
}


.container-plan {
    padding: 1em;

}

.new-plan {
    display       : flex;
    flex-direction: column;
    align-items   : center;

}

.number-new {
    font-size  : 3.5em;
    align-items: center;
}

.benefits {
    display       : flex;
    flex-direction: column;
    gap           : .5em;
    margin-top    : 1em;
}

.container-box {
    display       : flex;
    flex-direction: column;
    gap           : .5em;
}

.box {
    border       : 1px solid #fff;
    border-radius: 4px;
    padding      : .5em;
}

.min,
.play,
.sure,
.app {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}



.sure img {
    transform: rotate(-25deg);
}

.fa-napster {
    font-size: 2em;
}

.privacy-pol a {
    color: black
}

.change {
    display        : flex;
    justify-content: center;
    margin         : 0 auto;
}

.change input {
    font-family : "TelefonicaWeb-Light";
    height      : 2.5em;
    width       : 15em;
    border      : 1px solid rgba(119, 119, 119, 0.707);
    padding-left: 20px;
    font-size   : 14px;
}

.change input ::placeholder {
    color       : rgba(119, 119, 119, 0.707);
    padding-left: 1em;
    margin-left : 1em;
}

.change .btn-change {
    font-family     : "TelefonicaWeb-Regular";
    background-color: #55C300;
    padding         : 0px 1em;
    width           : 12em;
    color           : #fff;
    font-size       : 14px;
    border          : none;
    letter-spacing  : 1px;
}

.privacy-pol {
    display        : flex;
    justify-content: center;
    margin         : 0 auto;
}

/* Media Query */

/* Small (sm) */
@media (min-width: 600px) {
    .current-plan {
        width : 23.5em;
        height: 14em;
    }
}

/* Medium (md) */
@media (min-width: 700px) {
    nav img:nth-child(3) {
        display: none;
    }

    nav img:nth-child(2) {
        display: block;
    }

    .plans {
        flex-direction: row;
    }

    .change input,
    .change .btn-change {
        font-size: 18px;
    }

    .container-change-privacy {
        margin-top: 2em;
    }

    .banner .banner-title {
        padding-top: .2em;
        font-size  : 35px;
    }
}

/* Large (lg) */
@media (min-width: 1024px) {

    .banner {
        background-size           : 100vh;
        height                    : 40vh;
        border-bottom-left-radius : 350px 160px;
        border-bottom-right-radius: 350px 160px;
    }

    .btn-menu {
        display: none;
    }

    nav img:nth-child(2) {
        position: absolute;
        left    : 1em;
        top     : .5em;
    }

    .banner .banner-title {
        font-size: 50px;
    }

    .nav-menu {
        display       : flex;
        flex-direction: row;
        position      : absolute;
        top           : 0;
        left          : 12em;
        height        : 13vh;
        width         : 100%;
        transform     : translateX(0%);
        transition    : transform 0.3s ease-in-out;
        background    : transparent;
        color         : black;
    }

    .btn-menu-close {
        display: none;
    }

    .nav-menu li {
        width     : 12em;
        text-align: center;
    }

    .sub-menu {
        position      : relative;
        left          : 24.5em;
        flex-direction: row-reverse;
        gap           : 2em;
        top           : 1em;
    }

    .icon-submenu {
        gap: 2em;
    }

    .promo-plan {
        width   : 10em;
        position: absolute;
        right   : 2.2em;
        top     : 15em;
    }

    .banner .banner-title {
        font-size: 40px;
        margin   : 1em auto;

    }

    .principal-text {
        font-size: 30px;

    }

    .current-plan {
        width : 16em;
        height: 14em;
    }

    .you-new-plan {
        width: 100%;
    }

    .text-new-plan {
        font-size : 22px;
        text-align: left;
    }

    .container-plan {
        height         : 9.3em;
        display        : flex;
        flex-direction : row;
        justify-content: space-around;
        gap            : 2em;
    }

    .benefits {
        width         : 50%;
        flex-direction: row;
    }

    .box {
        min-width : 150px;
        min-height: 50px;
    }

    .min,
    .play,
    .sure,
    .app {
        font-size: 12px;
    }

    .play span {
        font-size    : 13px;
        margin-bottom: -1em;
        font-family  : "TelefonicaWeb-Regular";
    }

    .sure,
    .app {
        flex-direction: row;
        text-align    : left;
    }

    .sure div span:nth-child(1) {
        font-size  : 13px;
        font-family: "TelefonicaWeb-Regular";
    }

    .app div span {
        font-size: 13px;
    }

    .app i {
        font-size   : 26px;
        margin-left : 5px;
        margin-right: 10px;
    }

    .new-plan p {
        font-size: 14px;
    }

    .number-new {
        font-size: 60px;
    }

}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    /* ... */
}